body {
    background: white;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #img {
    background-image: url("../images/donation0.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: 1440px;
  }
  #img {
    height: 100vh;
  }
  .title {
    color: whitesmoke;
    position: absolute;
    top: 140px;
    font-size: 60px;
    font-weight: 700;
    left: 416px;
  }
  .title-area {
    position: relative;
    top: 265px;
    left: 512px;
    color: #ff5959;
    font-weight: 700;
    font-size: 60px;
  }

  #top-para {
    position: relative;
    left: 357px;
    color: grey;
    top: 300px;
    font-size: 20px;
  }
  .btn {
    position: relative;
    top: 355px;
    left: 636px;
  }
  .btn-main {
    background: #ff5959;
    width: 163px;
    height: 56px;
    outline: none;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 800;
    font-size: 18px;
  }

  #div-1 {
    color: whitesmoke;
    font-size: 24px;
  }
  #div-1 {
    color: whitesmoke;
    font-size: 24px;
  }
  #div-2 {
    color: whitesmoke;
    font-size: 32px;
    border: 2px solid #ff5959 !important;
    background: #ffeeee !important;
  }
  #div-3 {
    color: whitesmoke;
    font-size: 24px;
  }
  #div-4 {
    color: whitesmoke;
    font-size: 24px;
  }
  #div-5 {
    color: whitesmoke;
    font-size: 24px;
    background: red;
    padding: center;
    text-align: center;
  }
  #div-5 > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .width {
    width: 132px;
    height: 120px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .donate-title-format {
    position: relative;
    top: 98px;
    left: 577px;
    font-size: 38px;
  }
  .donate-para-part {
    position: relative;
    top: 260px;
    left: 577px;
    font-size: 23px;
  }

  #donate-para {
    position: relative;
    margin-top: 10px;
left: 414px;
font-size: 14px;
justify-content: center;
top: 97px;
color: #bbbbbb;
font-weight: 400;
margin-top: 5px;
margin-bottom: 5px;
font-size: 18px;
line-height: 32px;
  }
  #donate-para span {
    position: relative;

    left: 100px;
  }
  #donate-calculation {
    width: 50%;
    margin: 0 auto;
    position:absolute;
    top: 945px;
    left: 416px;
  }
  

  #donate-calculation > div {
    display: inline-block;
    background: whitesmoke;
    color: grey;
    font-weight: 800;
  }
 
#input-area{
width:80%;
margin:0 auto;

height: 50px;
position: relative;
top:288px;

}
  .parent {
    position: relative;
  }
  .child {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  /* input field styling */
  .input-area {
    position: relative;
    top: 178px;
    left: 300px;
  }
  input[type="text"] {
    background: whitesmoke;
    width: 681px;
    height: 60px;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
  }
  /* input placeholder styling */
  ::-webkit-input-placeholder {
    /* Edge */
    color: grey;
    text-align: center;
    font-size: 16px;
  }

  :-ms-input-placeholder {
    /* Internet Explorer */
    color: grey;
    text-align: center;
    font-size: 16px;
  }

  ::placeholder {
    color: grey;
    text-align: center;
    font-size: 16px;
  }
  /* styling donate-button  */
  
  #donate-button {
    width: 160px;
    height: 64px;
    border-radius: 8px;
    background: #ff5959;
    color: whitesmoke;
    font-size: 18px;
    font-weight: 800;
    border:none;
    outline:none;
    position: absolute;
    bottom: -560px;
    left:646px;
  }

 
  /* start styling donate part section */
  #donate-part{
    width: 1440px;
    border:2px solid grey;
    margin-left: 38px;
    height:560px;
  }
  #donate-container > div {
    display: inline-block;
  }
  #first,
  #second,
  #third {
    color: green;
    width: 25%;
    margin-right: 10px;
    height: 345px;
  }
  #first {
    background: #ffeeee;
  }
  #second {
    background: #edf5f6;
  }
  #third {
    background: #fff4d6;
  }
  /* styling donate plan section */

  #donate-plan {
    position: relative;
    top: 91px;
    left: 476px;
    font-size: 25px;
  }
  #donate-plan h2{
    color:#121212;
  }
  #donate-plan-para {
    position: relative;
    left: -140px;
    top: 27px;
    font-size: 20px;
  }
 #donate-plan-para p{
    font-family: poppins;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color:#707070;

 }
  #donate-plan-para-space {
    position: relative;
    margin-left: 45px;
    margin-bottom: 52px;
  }
  #donate-plan-section {
   margin-left: 37px;
    border:2px solid green;
    width:1440px;
    height:700px;
    position: absolute;
  }
  .first-img,
  .second-img,
  .third-img {
    margin-top: 15px;
  }
  /* start styling donate plan column section */
  #donate-plan
  /* styling donate-plan-para section */

  /* making 3 colimns */
  /* #donate-top{              positioning 3columns vertically */
  #donate-top {
    margin-top: 10px;
    height: 357px;
    width: 1140px;
    background:rgba(0, 128, 128, 0.462);
    
      position: relative;
     
      left: 200px;
      margin-left:212px;
    
  }
  #donate-top > div {
    display: inline-block;
  }
  

  #div-1-donate,
  #div-2-donate,
  #div-3-donate {
    width: 360px;
    height:351px;
    padding: 10px;
    margin-right:5px;
    padding: 10px;
    position: relative;
    top: 340px;
    border-radius: 5px;
    

  }
  #div-1-donate{
    background: rgba(79, 157, 166, 0.1);
    margin-left: 200px;
    position:absolute;
    top:1555px;
    
  }
  .div-1-donate-img{
    width: 51px;
    margin-top: 30px;
    margin-left:23px;
    margin-bottom: 10px;
  }
  #div-1-donate .text-style{
    margin-top: 16px;
    font-family: poppins;
font-weight: 300;
font-size: 14px;
line-height: 22px;
color: #707070;
  }
  #div-2-donate{
    background: rgba(255, 89, 89, 0.1);
    position:absolute;
    top:1555px;
    left:580px;
    
  }
  #div-2-donate .div-2-donate-img{
    
    width:53px;
    margin-top:30px;
    margin-left:23px;
  }
  #div-2-donate .text-style{
    margin-top: 16px;
    font-family: poppins;
font-weight: 300;
font-size: 14px;
line-height: 22px;
color: #707070;
  }
  #div-3-donate{
   background: #FFF4D6;
    position:absolute;
    top:1553px;
    left:960px;
    
  }

  #div-3-donate  .div-3-img{
    width:51px;
    margin-top: 30px;
    margin-left:23px;
    margin-bottom: 10px;
    
  }

  #div-3-donate .text-style{
    margin-top:16px;
    font-family: poppins;
font-weight: 300;
font-size: 14px;
line-height: 22px;
color: #707070;
  }
  /* update section area styling */

  .updates {
    height: 515px;
    width: 1414px;
    background: #fff;
    margin-top: 352px;
    position: absolute;
    top:1682px;
  }
  #box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    background: #fff;
    height: 515px;
  }
  #box h3 {
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    margin-top: 38px;
  }
  #box p {
   font-family: poppins;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color:#707070;
    margin-top:21px;
  }
  input {
    position: relative;
    display: inline-block;
    box-sizing: border-box;

    outline: none;
    font-size: 20px;
    transition: 0.5s;
  }
  input[type="text"] {
    position: absolute;
    background: #fff;
    width: 560px;
    border: none;
    height: 50px;
    font-size: 20px;
    padding: 0 25px;
    border-bottom: 2px solid grey;
    left:306px;
  }
  input[type="submit"] {
    position: relative;
    background: #fff;
    top: 0;
    right: -688px;
    font-size: 20px;
    width: 50px;
    width: 200px;
    outline: none;
    
    height: 50px;
    background: #ff5959;
    color: white;
  }

  .input-area-update {
    background: #fff4d6;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;

    transform: translate(-50%, -50%);
    width: 830px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 41px;
  }
  .input-area-uddate-position{
    width: 830px;
    height: 200px;
    position: relative;
    right:10px;
    top:78px;
  }
  .input-move{
    margin-left: -172px;
  }
  #footer {
    margin-top: 358px;
    position: absolute;
    top: 2190px;
    width: 1440px;
    margin-left: 37px;
  }
  #footer-inside {
    width: 100%;
    margin: 0 auto;
    height: 177px;
    background: #000;
  }
  #footer-inside #bottom-text {
    text-align: center;
    color: white;
    margin-top: 8px;
  }
  .footer-top-text {
    font-family: "Oleo Script Swash Caps", cursive;
    font-style: italic;
  }
  #footer-text-point {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #footer-text-point p {
    text-align: center;
  }